<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>admin_main</title>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/e6f78261b2.js"></script>
    <link href="/css/admin/admin_nav.css" rel="stylesheet">
    <link href="/css/admin/admin_main.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
</head>
<body>
<nav th:replace="admin/admin_nav :: navFragment"></nav>
<section>
    <div class="recent-user item">
        <div class="item-caption">
            <div class="item-title">최근 가입 회원</div>
            <div class="more" th:onclick="'location.href=\''+ @{/admin/userList} + '\''">more +</div>
        </div>
        <div class="item-content">
            <table>
                <thead>
                <tr>
                    <th>회원정보</th>
                    <th>휴대전화</th>
                    <th>가입일</th>
                    <th>방문횟수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${userList}">
                    <td th:text="${user.name} + '(' + ${user.loginId}+ ')'"></td>
                    <td th:text="${#strings.replace(user.phoneNumber, ',', '-')}"></td>
                    <td th:text="${#temporals.format(user.createdAt, 'yyyy-MM-dd')}"></td>
                    <td th:text="${user.visitCount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="num-visitors item">
        <div class="item-caption">
            <div class="item-title">누적 방문자수</div>
        </div>
        <div class="item-content">
            <div th:text="${numVisitors}">0</div>
            <div>명</div>
        </div>
    </div>
    <div class="recent-order item">
        <div class="item-caption">
            <div class="item-title">최근 주문</div>
            <div class="more" th:onclick="'location.href=\''+ @{/admin/orderList} + '\''">more +</div>
        </div>
        <div class="item-content">
            <table>
                <thead>
                <tr>
                    <th>구매자</th>
                    <th>상품정보</th>
                    <th>결제금액</th>
                    <th>상태</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orderList}">
                    <td th:text="${order.name}"></td>
                    <td th:text="${order.itemName}"></td>
                    <td th:text="${#numbers.formatInteger(order.orderPrice, 0, 'COMMA')} + '원'"></td>
                    <td th:if="${order.orderStatus.toString().equals('PAYWAITING')}">입금대기</td>
                    <td th:if="${order.orderStatus.toString().equals('PRESHIP')}">배송준비중</td>
                    <td th:if="${order.orderStatus.toString().equals('INSHIP')}">배송중</td>
                    <td th:if="${order.orderStatus.toString().equals('COMPLETESHIP')}">배송완료</td>
                    <td th:if="${order.orderStatus.toString().equals('ORDERCANCEL')}">주문취소</td>
                    <td th:if="${order.orderStatus.toString().equals('ORDERCHANGE')}">교환</td>
                    <td th:if="${order.orderStatus.toString().equals('ORDERREFUND')}">반품</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="recent-item item">
        <div class="item-caption">
            <div class="item-title">최근 등록 상품</div>
            <div class="more" th:onclick="'location.href=\''+ @{/admin/itemList} + '\''">more +</div>
        </div>
        <div class="item-content">
            <table>
                <thead>
                <tr>
                    <th>상품사진</th>
                    <th>상품명</th>
                    <th>분류</th>
                    <th>가격</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${itemList}">
                    <td class="goods-img">
                        <img alt="상품사진" src=" " th:src="@{${item.imgUrl}}">
                    </td>
                    <td th:text="${item.itemName} +'<'+ ${item.color}+'>'">
                    </td>
                    <td th:text="${item.firstCategory}">
                    </td>
                    <td th:text="${#numbers.formatInteger(item.price, 0, 'COMMA')} + '원'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<script src="/js/admin/admin_nav.js"></script>
</body>
</html>