<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>admin registerGoods</title>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/e6f78261b2.js"></script>
    <script src="/js/jquery.js"></script>
    <link href="/css/admin/admin_nav.css" rel="stylesheet">
    <link href="/css/admin/admin_registerGoods.css" rel="stylesheet">
</head>
<body>
<nav th:replace="admin/admin_nav :: navFragment"></nav>
<section>
    <form action="/admin/register" enctype="multipart/form-data" method="POST" onsubmit="return sendToServer()"
          th:action="@{/admin/register}">
        <!-- 상품 기본정보 -->
        <div class="basic-info item">
            <div class="item-caption">
                <div class="item-title">상품 기본 정보</div>
            </div>
            <div class="item-content">
                <div class="form-group">
                    <label class="form-label">상품분류</label>
                    <span class="cmode-box">
                        <label>
<select class="cmode1" name="cmode1">
    <option value="">1차 분류</option>
    <option value="outer">OUTER</option>
    <option value="top">TOP</option>
    <option value="shirts">SHIRTS</option>
    <option value="bottom">BOTTOM</option>
    <option value="acc">ACC</option>
    <option value="shoes">SHOES</option>
</select>
</label>
                        <label>
<select class="cmode2" name="cmode2">
    <option value="">2차 분류</option>
</select>
</label>
                        <label>
<select class="cmode3" name="cmode3">
    <option value="">3차 분류</option>
    <option value="7dc">NEW 7% DC</option>
    <option value="best30">BEST30</option>
    <option value="sale">SALE</option>
</select>
</label>
                    </span>
                </div>
                <div class="form-group">
                    <label class="form-label">상품명</label>
                    <span><label>
<input name="item_name" type="text">
</label></span>
                </div>
                <div class="form-group">
                    <label class="form-label">판매가격</label>
                    <span><label>
<input name="price" type="text">
</label></span>
                </div>
                <div class="form-group">
                    <label class="form-label">상품 이미지</label>
                    <span>
                        <div class="imgupload">
                            <label class=imguploadbtn for="upload_image">
                                이미지 찾기
                            </label>
                            <input id="upload_image" multiple="multiple" name="upload_image" type="file">
                        </div>
                        <div class="img-box"></div>
                        <div class="discription-box">
                            <div class="discription-blue">권장 이미지 사이즈(가로: 450px, 세로: 370px)</div>
                            <div class="discription-blue">파일 저장시 상품내용 저장 후 적용됩니다</div>
                        </div>
                    </span>
                </div>
                <div class="form-group">
                    <label class="form-label">판매상태</label>
                    <span>
                        <label><input checked name="salestatus" type="radio" value="onsale">정상판매</label>
                        <label><input name="salestatus" type="radio" value="soldout">품절</label>
                    </span>
                </div>
            </div>
        </div>

        <!-- 상품 상세정보 -->
        <div class="detail-info item">
            <div class="item-caption">
                <div class="item-title">상품 상세 정보</div>
            </div>
            <div class="item-content">
                <div class="form-group">
                    <label class="form-label">INFO</label>
                    <span>
                        <label>
<textarea name="info" rows="7"></textarea>
</label>
                    </span>
                </div>
                <div class="form-group">
                    <label class="form-label">COLOR/SIZE</label>
                    <span>
                        <div class="color-size">
                            <label>COLOR <input name="color" type="text"></label>
                            <label>SIZE <input name="size" type="text"></label>
                            <label>재고수량 <input name="stock_quantity" type="text"></label>
                        </div>
                    </span>
                </div>
                <div class="form-group">
                    <label class="form-label">FABRIC</label>
                    <span>
                        <label>
<textarea name="fabric" rows="7"></textarea>
</label>
                    </span>
                </div>
                <div class="form-group">
                    <label class="form-label">MODEL</label>
                    <span>
                        <label>
<textarea name="model" rows="7"></textarea>
</label>
                    </span>
                </div>

            </div>
        </div>

        <!-- 저장, 목록 돌아가기 버튼-->
        <div class="bottom">
            <div class="bottombtn">
                <input type="submit" value="저장">
                <input type="button" value="목록">
            </div>
        </div>
    </form>
</section>
<script src="/js/admin/admin_nav.js"></script>
<script src="/js/admin/admin_registerGoods.js"></script>
</body>
</html>