<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="main_footerFragment">
    <div class="footer_content">
        <div class="footer_content_left">
            <div class="footer_info footer_cs">
                <div class="footer_info_caption"><b style="font-size: 12px;">Ι&nbsp;</b> CS CENTER</div>
                <div class="footer_info_content">
                    <b>010-1234-1234</b><br>
                    월-금 / 09:00 ~ 18:00<br>
                    점심시간 / 12:00 - 13:00<br>
                    토, 일, 공휴일 휴무
                </div>
            </div>
            <div class="footer_info footer_bank">
                <div class="footer_info_caption"><b style="font-size: 12px;">Ι&nbsp;</b> BANKING ACCOUNT</div>
                <div class="footer_info_content">
                    우리은행: 0000000000000<br>
                    예금주 : OnlyFit
                </div>
            </div>
            <div class="footer_info footer_another">
                <div class="footer_info_caption"><b style="font-size: 12px;">Ι&nbsp;</b> ANOTHER</div>
                <div class="footer_info_content">
                    구매안전(에스크로)서비스
                </div>
            </div>
        </div>
        <div class="footer_content_right">
            <div class="footer_info footer_addr">
                <div class="footer_info_caption"><b style="font-size: 12px;">Ι&nbsp;</b> RETURN ADDRESS</div>
                <div class="footer_info_content">
                    반품 주소: 서울특별시
                </div>
            </div>
            <div class="footer_info footer_about">
                <div class="footer_info_caption"><b style="font-size: 12px;">Ι&nbsp;</b> ABOUT US</div>
                <div class="footer_info_content">
                    OUR COMPANY<br>
                    AGREEMENT<br>
                    PRIVACY POLICY[개인정보처리방침]<br>
                    SHOP GUIDE<br>
                    CS CENTER
                </div>
            </div>
            <div class="footer_info footer_company">
                <div class="footer_info_caption"><b style="font-size: 12px;">Ι&nbsp;</b> COMPANY INFO</div>
                <div class="footer_info_content">
                    COMPANY.OnlyFit
                </div>
            </div>
        </div>
    </div>
    <div class="footer_banner">
        <div class="copyright">
            COPYRIGHT &copy; 'OnlyFit' ALL RIGHTS RESERVED
        </div>
    </div>
</footer>
</html>
